.alert {
  width: 100%;
}

.alert_success {
  background-color: skyblue;
  color: blue;
}

.alert_error {
  background-color: lightcoral;
  color: crimson;
}

.has_error {
  color: red;
}

.field_with_errors {
  color: red;
}
